.page-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--spacing);

  &_title {
    margin-bottom: 5px;
    font-size: 22px;
    color: var(--color-text);
    font-weight: normal;
    margin-top: 65px;
  }

  &_text {
    font-size: 16px;
    color: var(--color-text);
  }

  &_image {
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-top: 24px;
    position: relative;
  }

  &_btn {
    --bg-page-content_btn: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    width: 174px;
    height: 46px;
    background: var(--bg-page-content_btn);
    border-radius: 4px;
    color: #484848;
    outline: none;
    border: 1px solid var(--bg-page-content_btn);
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
  }

  &_btn::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%) rotate(45deg);
  }

  &_btn:hover,
  &_btn:focus {
    background-color: var(--btn-hover);
    color: var(--color-text-btn);
    border: var(--btn-hover);
  }

  &_title_margin {
    margin-top: 48px;
  }

  &_text_margin {
    margin-bottom: 5px;
  }

  &_scroll-btn {
    border: none;
    width: 15px;
    height: 15px;
    outline: none;
    cursor: pointer;
    position: relative;
    background: none;
  }

  &_scroll-btn::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
  }
}

.scroll-btn_alignment {
  position: absolute;
  top: 35%;
  right: 0;
}

.page-box {
  position: relative;
  width: 500px;

  &_width {
    width: 250px;
    margin-bottom: 13px;
  }
}

.image-plus-icon {
  width: 220px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
  .page-box {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .page-box_width {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .page-content_image {
    background-image: url(../assets/background2Mobille.png);
    min-height: 376px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .scroll-btn_hidden {
    display: none;
  }
}
